<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UV App</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome-min.css">
    <link rel="stylesheet" href="css/common.css">
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/utils.js"></script>
</head>
<body class="container">
    <div id="ride_app">

        <br /><br /><br /><br />
        <div class="row">
        <section class="col-md-8">
            <br />
            <h6>About this Ride</h6>
            <h1>{{ride.start_name}} to {{ride.end_name}}</h1>
            <!-- <p>
                <small>
                    Start Address:
                    {{ ride.start_address }}
                    <br>
                    End Address:
                    {{ ride.end_address }}
                </small></p>
            <p> -->
                <small>
                Leaves at 8:00pm
                <br />
                Monday, Oct. 2
                </small>
            </p>
            <div class="col-md-8 no-padding margin-bottom-10">
                <h4>{{reservations}}/{{seats}} of seats are Reserved</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" :style="'width: ' + 100 * (reservations/seats)  + '%;'" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            
            <div class="col-md-8 no-padding">
                <img v-for="user in users" class="rounded-circle margin-5" src="images/blank-user.jpg" width="50px" height="50px">
            </div>

            <hr />

            <div v-if="!hasReserved">
                <div class="input-group col-md-3 no-padding margin-bottom-10">
                  <span class="input-group-addon">Qty.</span>
                  <input type="number" value="1" min="1" :max="seats-reservations" class="form-control form-control-lg" placeholder="No. of Seats" aria-describedby="basic-addon1" v-model.number="qty">
                </div>
                <button class="btn btn-lg btn-primary" v-on:click="toggleReserve()">Reserve a Seat</button>
            </div>
            <div v-else>
                <p>You reserved {{qty}} seat(s) for this Rides.
                <span v-on:click="toggleReserve()">Cancel reservation?</span>
                </p>
            </div>

        </section>
        <section class="col-md-4">
            <img :src="'images/locations/' + ride.end_image" style="object-fit: cover; height: 450px; width: 300px;">
        </section>
        </div>

        <br /><br /><br /><br />

    </div>
</body>
<script>
    var app = new Vue({
        el: "#ride_app",
        data: {
            hasReserved: false,
            reservation: null,
            users: [1, 1, 1],
            qty: 1,
            seats: 12,
            ride: {}
        },
        methods: {
            toggleReserve: function() {
                if (this.hasReserved){
                    this.reservations -= this.qty;
                } else {
                    axios.post('api/reservations/create.php', {
                        'qty': this.qty,
                        'ride_id': query['id']
                    }).then(response => {
                        if (response.data.status == "OK") {
                            this.reservations += this.qty;
                        }
                    }).catch(error => {
                        console.log(error);
                    })
                }
                this.hasReserved = !this.hasReserved;
            }
        },
        mounted() {
            axios.get('api/rides?id=' + query['id'])
                .then(response => {
                    this.ride = response.data.ride;
                })
                .catch(error => {
                    console.log(error);
                });
            axios.get('api/reservations?ride_id=' + query['id'])
                .then(response => {
                    this.reservation = this.response.data.reservation;
                }).catch(error => {
                    console.log(error);
                });
        }
    })
</script>
</html>